:root {
    --primary-color: #42489E;
    --text-color: #4F4F4F;
    --sub-text-color: #828282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 100% = 16 px => 62.5% = 10px */
    line-height: 1.6rem;
    letter-spacing: 0.3px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: bisque;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.heading, .time, .education h4 {
    font-family: 'Poppins', sans-serif;
}

.language, .skills, .experience, .certificate, .activities {
    margin-bottom: 30px;
}

.app {
    width: 595px;
    height: 842px;
    margin: 4vh 0;
    overflow: hidden;
    background-color: white;
    outline: 3px solid #111;
    box-shadow: 10px 12px 0px #111;
    user-select: none;
    display: flex;
}

.left {
    position: relative;
    width: 185px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #9282CD, #22246E);
}

.right {
    width: 70%;
    height: 100%;
    padding: 30px 0 0 25px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 30px;
}

.basic-info {
    color: white;
    width: 165px;
    margin-top: 30px;
}

.name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    word-spacing: 0.5px;
}

.role {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.info-item {
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    line-height: 1rem;
    margin-top: 10px;
}

.info-item:first-child {
    margin-top: 35px;
}

.info-item i {
    font-size: 0.7rem;
    margin-right: 7px;
}

.info-item a {
    color: white;
}

.quote {
    margin-top: 50px;
}

.quote-sign {
    width: 24px;
    height: 18px;
    margin-bottom: 15px;
}

.quote p {
    font-weight: 300;
    line-height: 1.7rem;
}

.education {
    position: absolute;
    height: 195px;
    width: 100%;
    background-color: #E5E7E8;
    bottom: 0;
}

.heading {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
}

.education .heading {
    margin: 15px 0 16px 10px;
}

.education .heading span {
    margin-right: 30px;
}

.heading-deco {
    height: 3px;
    width: 220px;
    background-color: #C4C4C4;
}

.education .heading-deco {
    width: 100%;
    background-color: var(--primary-color);
}

.time {
    font-size: 0.8rem;
    color: #999;
    font-weight: 700;
    line-height: 0.6rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
}

.time-deco {
    width: 15px;
    height: 1px;
    background-color: #C4C4C4;
    margin: 0 8px 0 10px;
}

.education h4 {
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 10px;
    line-height: 1.8rem;
}

.gpa {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.1rem;
    margin-left: 10px;
    margin-top: 20px;
}

.school {
    color: #666;
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-left: 10px;
    margin-top: 4px;
}

.language-item {
    display: flex;
    align-items: center;
}

.language-item span {
    min-width: 70px;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--text-color);
    margin-right: 30px;
}

.language-item:not(:first-child) {
    margin-top: 8px;
}

.language-bar {
    width: 150px;
    height: 5px;
}

.vie .language-bar {
    background-color: var(--primary-color);
}

.eng .language-bar {
    position: relative;
    background-color: #E5E7E8;
}

.process {
    position: absolute;
    width: 70%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--primary-color);
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 12px;
}

.skill-item {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: var(--text-color);
    margin-right: 18px;
    margin-bottom: 6px;
}

.project-list {
    padding-right: 25px;
}

.project-list:not(:nth-child(2)) {
    margin-top: 20px;
}

.project-item, .cert-desc li, .activity-list li {
    color: var(--text-color);
}

.project-heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.project-title h4 {
    font-size: 1.2rem;
    font-weight: 700;
}

.project-overview, .project-heading span {
    color: var(--sub-text-color);
}

.project-heading .year {
    font-size: 1.2rem;
    font-weight: 600;
}

.project-overview {
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-top: 4px;
}

.project-desc li, .cert-desc li, .activity-list li {
    display: flex;
    align-items: flex-start;
    font-size: 0.8rem;
    line-height: 1.1rem;
    margin-top: 5px;
}

.project-desc li:first-child {
    margin-top: 12px;
}

.project-desc i, .cert-desc i, .activity-list i {
    font-size: 0.3rem;
    color: #F9D423;
    margin-right: 8px;
    margin-top: 4px;
}

.project-desc a, .cert-desc a, .activity-list a {
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
}

.cert-desc li:first-child, .activity-list li:first-child {
    margin-top: 0;
}

